.button-base {
    padding: 12px 8px;
    border-radius: 14px;
}

.button-base:hover {
    text-decoration: underline;
}

.button-variant-default {
    background-color: #FFFFFF;
    border: 1px solid var(--color-general);
    color: #000000;
}

.button-variant-success {
    background-color: var(--color-success);
    color: #FFFFFF;
    border: 1px solid var(--color-success);
}

.button-variant-danger {
    background-color: var(--color-danger);
    color: #FFFFFF;
    border: 1px solid var(--color-danger);
}